
---
- name: "Creates backend app directory"
  file:
    path: ~/backend
    state: directory


- name: Unarchive a file that is already on the remote machine
  unarchive:
    src: artifact.tar.gz
    dest: ~/backend
    # remote_src: yes

- name: "Installing Node Dependencies"
  shell: |
    cd ~/backend/
    npm install
    cd ~/backend/dist
    pm2 stop default
    pm2 start npm -- start